# Arquivos do Node Js que são gerados a partir do package.json
package-lock.json
node_modules/

# Arquivos temporários do Mac
.trash/
.DS_Store

# Testando exclusão de arquivos Marko compilados
*.marko.js

# Testando exclusão de arquivo .db
*.db

# Excluindo nomes e extensões utilizadas em testes de escrita de arquivos
*.txt
notes.json

# Excluindo diretório de arquivos gerado pelo Rust / Cargo
target/
Cargo.lock

# Excluindo diretório de configuração do pyCharm
.idea/

# Excluindo diretório de configuração do Vs Code
.vscode/